{% extends 'base.html' %}

{% block content %}
<br>
    <div class="container">
        <p>
            {% for content in contacts %}

            {% if content.author == request.user%}
            <div>
                <p>
                    <a href="{% url 'contact-detail' content.id %}">
                        {{content.name}}

                    </a>
                </p>
                <p>
                    {{content.phone}}
                </p>
                <p>
                    {{content.city}}
                </p>

                
                
                <hr>
            </div>
            {% endif %}
           
            {% endfor %}

        </p>
    </div>

{% endblock %}